#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f0f2f5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.title {
  margin-bottom: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;

}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.input-icon {
  padding: 10px;
  background: #eee;
}

.input {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.VotingList {
  background-color: #b8b8b8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 80%;


  background-color: #bbbb;
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: #bbbbbb;
}

.candidate img {
  width: 200px;
  border-radius: 30%;
  height: 300px;
}

.candidate h1 {
  margin-bottom: 0px;
}

.candidate .Vote {
  font-size: 20px;
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.candidate button:hover {
  background-color: #0056b3;

}

.Change-Vote {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}